body {
    font-family:"Lucida Grande",Arial,Helvetica,sans-serif;
    font-size:13px;
    line-height:20px;
    color:#444;
    margin:20px auto;
    background: #dbdbdb;
}

.Pr0nImage {
    width: 200px;
    height: 200px;
    margin: 1em;
    border: 1px solid black;
}
